<aside id="sidebar">
  <a href="https://github.com/tbraun89/pyCI/zipball/master" class="button">
    <small>Download</small>
    .zip file
  </a>
  <a href="https://github.com/tbraun89/pyCI/tarball/master" class="button">
    <small>Download</small>
    .tar.gz file
  </a>

  <p class="repo-owner"><a href="https://github.com/tbraun89/pyCI"></a> is maintained by <a href="https://github.com/tbraun89">tbraun89</a>.</p>

  <p>This page is using the Architect theme by <a href="https://twitter.com/jasonlong">Jason Long</a>.</p>
</aside>